<!doctype html>
<html lang="en" ng-app="FormApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style/stylesheets/screen.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div ng-controller="FormAppController">
          <p>Zapraszam Cię do skorzystania z autorskiego kalkulatora usług copywriterskich. Dzięki niemu poznasz orientacyjną
            wycenę swojego zlecenia.</p>
          <h2 class="header-info">Wybierz usługę
            <div class="header-info-after"></div>
          </h2>
          <section class="service row" id="service">
            <div class="col-md-4 col-xs-6 text-variable-item" ng-repeat="x in services" ng-click="setActive($index); setBase(x); countAll()"
              ng-model="services.selected" ng-class="{'active': $index == selectedIndex }">
              <div>
                <div class="sprite {{x.class}}"></div>
                <p>{{x.name}}</p>
              </div>
            </div>
          </section>
          <section class="parameters" id="parameters">
            <form name="setParameters">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="header-info">Określ parametry zlecenia
                    <div class="header-info-after"></div>
                  </h2>
                  <p>Wybiesz wszystkie opcje, by skorzystać z wyceny</p>
                </div>
              </div>
              <div class="form-group" ng-show=showParameters>
                <div class="col-md-4">
                  <p>Ilość znaków w jednym tekście</p>
                  <input type="number" placeholder="1000" min="0" step="100" ng-model="Data.letterCount" ng-change="countAll()">
                </div>
                <div class="col-md-4">
                  <p>
                    Określ skomplikowanie tematyki
                  </p>
                  <select required ng-model="hardness.selected" ng-options="x.name for x in hardness" ng-change="countAll()"></select>
                </div>
                <div class=" col-md-4">
                  <p>
                    Dostarczenie materiałów bazowych
                  </p>
                  <select required ng-model="materials.selected" ng-options="x.name for x in materials" ng-change="countAll()"></select>
                </div>
                <div class="spacer"></div>
                <div class="col-md-4">
                  <p>Czas realizacji</p>
                  <select ng-model="time.selected" ng-options="x.name for x in time" ng-change="countAll()" required></select>
                </div>
                <div class="col-md-4">
                  <p>Określ branżę</p>
                  <select ng-model="trades.selected" ng-options="x.name for x in trades" ng-change="countAll()" required></select>
                </div>
                <div class="col-md-4">
                  <p>
                    Czy chcesz otrzymać ofertę pozycjonowania strony?
                  </p>
                  <select ng-model="seo.selected" ng-options="x.name for x in seo" ng-change="countAll()" required></select>
                </div>
                <div class="spacer"></div>
                <div class="col-md-4">
                  <p>Ilość tekstów</p>
                  <input type="number" placeholder="1" min="1" ng-model="textCount" ng-change="countAll(); countTextBonus();" required>
                </div>
                <div class="col-md-4">
                  <p class="nonvisible">reset</p>
                  <button class="btn btn-blue-standard reset" ng-click="resetSelectedValues()">
                    Resetuj wartości
                  </button>
                </div>
                <div class="col-md-4">
                  <p class="nonvisible reset-small">reset</p>
                  <button class="btn btn-blue-standard" href="#send-form" ng-click="scrollToEnd()" ng-show="showFormButton">
                    Przejdź do zamówienia
                  </button>
                </div>
              </div>
            </form>
          </section>
        </div>
        <div ng-include="'personalData.html'"></div>
      </div>
      <!-- col-md-9 -->

      <div ng-include="'detailedInfo.html'"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.2/angular-scroll.min.js"></script>
    <script src="main.js"></script>
</body>

</html>