<!doctype html>
<html lang="en" ng-app="FormApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style/stylesheets/screen.css">
</head>
<body>
<div class="container" ng-controller="FormAppController">
  <div class="row">
    <div class="col-md-9">
      <p>Zapraszam Cię do skorzystania z autorskiego kalkulatora usług copywriterskich. Dzięki niemu poznasz
        orientacyjną wycenę swojego zlecenia.</p>
      <h2 class="header-info">Wybierz usługę
        <div class="header-info-after"></div>
      </h2>
      <!--todo - po kliknięciu w item, wyfilitruj go -->
      <section class="service row">
        <!-- wyświetl itemy (filtrowanie po nazwie kategorii)-->
        <div
            class="col-md-4 col-xs-6 text-variable-item"
            ng-repeat="x in services | filter: filters"
            ng-click="setBase(x); countAll()"
            ng-model="services.selected"
        >

          <!--po kliknięciu ustawia filtr na klasę itemu i filtruje-->
          <div
              ng-click="filters.class = x.class">
            <div class="sprite {{x.class}}"></div>
            <p>{{x.name}}</p>
          </div>
        </div>
        <!--//pokazać dopiero, jak filter działa-->
        <div class="clear-filter-wrap" ng-show=showClearFilter>
          <button
              ng-click="filters.class = ''; showAllParameters()"
              class="clear-parameters btn btn-blue-reversed">Wyczyść
          </button>
        </div>
      </section>

      <section class="parameters">
        <div class="row">
          <div class="col-md-12">
            <h2 class="header-info">Określ parametry zlecenia
              <div class="header-info-after"></div>
            </h2>
            <p>Lorem ipsum dolor constectetur sit amet</p>
          </div>
        </div>
        <div class="form-group" ng-show=showParameters>
          <div class="col-md-4">
            <p>Ilość znaków w jednym tekście</p>
            <!--todo - get data from this div -->
            <input type="number"
                   placeholder="1000"
                   min="1000"
                   step="500"
                   ng-model="letterCount">
          </div>
          <div class="col-md-4">
            <p>
              Określ skomplikowanie tematyki
            </p>
            <select
                ng-model="hardness.selected"
                ng-options="x.name for x in hardness"
                ng-change="checkParameters(); countAll()"
            ></select>
          </div>

          <div class="col-md-4">
            <p>
              Dostarczenie materiałów bazowych
            </p>
            <select
                ng-model="materials.selected"
                ng-options="x.name for x in materials"
                ng-change="checkParameters(); countAll()"
            ></select>
          </div>
          <div class="spacer"></div>
          <div class="col-md-4">
            <p>Czas realizacji</p>
            <select ng-model="time.selected"
                    ng-options="x.name for x in time"
                    ng-change="checkParameters(); countAll()"
            ></select>
          </div>
          <div class="col-md-4">
            <p>Określ branżę</p>
            <select
                ng-model="trades.selected"
                ng-options="x.name for x in trades"
                ng-change="checkParameters(); countAll()"
            >
            </select>
          </div>
          <div class="col-md-4">
            <p>
              Czy chcesz skorzystać z pozycjonowania witryny
            </p>
            <select
                ng-model="seo.selected"
                ng-options="x.name for x in seo"
                ng-change="checkParameters(); countAll()">
            </select>
          </div>
        </div>
        <div class="clear-filter-wrap">
          <button
              class="clear-parameters btn btn-blue-reversed"
              ng-click="showParameters=true"
          >
            Rozwiń
          </button>
        </div>
      </section>
      <section class="how-long">
        <div class="row">
          <div class="col-md-12">
            <h2 class="header-info">Okres współpracy
              <div class="header-info-after"></div>
            </h2>
            <p>Decydując się na aktywną współpracę długotrwałą, możesz liczyć na atrakcyjne zniżki cenowe. Sprawdź, jak
              prezentują się orientacyjne ceny przy współpracy długotrwałej.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
            <div class="period period-1">Jednorazowy</div>
          </div>
          <div class="col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
            <div class="hover panel">
              <div class="front">
                <div class="pad">
                  <h2 class="text-center">Miesięczny</h2>
                </div>
              </div>
              <div class="back">
                <div class="pad">
                  <p class="text-center">Pakiet miesięczny</p>
                  <p class="text-center">Ilość tekstów miesięcznie</p>
                  <input
                      type="number"
                      ng-model="monthlyTextNumber"
                      min="1"
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
            <div class="hover panel">
              <div class="front">
                <div class="pad">
                  <h2 class="text-center">Pakiet roczny</h2>
                </div>
              </div>
              <div class="back">
                <div class="pad">
                  <p class="text-center">Pakiet roczny</p>
                  <p class="text-center">Ilość tekstów miesięcznie</p>
                  <input
                      type="number"
                      ng-model="yearlyTextNumber"
                      min="1"
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class=" personal-data">
        <div class="row">
          <div class="col-md-12">
            <h2 class="header-info">Załączniki i uwagi
              <div class="header-info-after"></div>
            </h2>
          </div>
          <div class="col-md-12">
            <p>Podaj swoje dane, abym mógł skontaktować się z Tobą i zaprezentować Ci swoją faktyczną ofertę.
              Poniżej
              możesz dopisać szczegóły zlecenia, a także pobrać i przesłać brief ułatwiający sprecyzowanie
              swoich
              copywriterskich potrzeb.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="name">
              Imię i nazwisko
            </label>
            <br>
            <input type="text" id="name">
          </div>
          <div class="col-md-4">
            <label for="email">Email</label>
            <br>
            <input type="email" id="email">
          </div>
          <div class="col-md-4">
            <label for="phone">Numer telefonu</label>
            <br>
            <input type="number" id="phone">
          </div>
          <div class="col-md-12">
            <textarea name="tresc" id="main-message" cols="30" rows="10" ng-model="textInfo"></textarea>
          </div>
        </div>
        <div class="row submit-section">
          <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
            <button class="btn btn-blue-reversed">Pobierz brief</button>
          </div>
          <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
            <button class="btn btn-blue-standard">Dodaj załącznik</button>
          </div>
          <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
            <button class="btn btn-orange-reversed ">Szczegółowa wycena</button>
          </div>
        </div>
      </section>

    </div><!-- col-md-9 -->
    <div class="col-md-3 sidebar">
      <div class="big-info" ng-show=sidebarBigInfo>
        {{bigInfo}}
      </div>
      <div class="detailed-info" ng-show=sidebarDetails>
        <h2 class="centered">Podsumowanie</h2>
        <h3>Rodzaj tekstu</h3>
        <p class="value centered">
          {{selectedCategory}}
        </p>
        <h3>Parametry szczegółowe</h3>
        <h4 class="centered">Ilość znaków w jednym tekście</h4>
        <div class="value centered">
          {{letterCount}}
        </div>
        <!--<h4 class="centered">Trudność tekstów</h4>-->
        <!--<div class="value centered">-->
        <!--{{selectedHardness}}-->
        <!--</div>-->
        <h4 class=" centered">Dostarczone materiały</h4>
        <div class="value centered">
          {{selectedMaterials}}
        </div>
        <h4>Dopłata za express</h4>
        {{selectedTime.biggerPrice}}
        <h2>Cena</h2>
        <h3 class=" centered">Stawka bazowa za 1000 znaków</h3>
        <div class="value centered">
          {{services.selected}}

        </div>
        <h3 class=" centered">Zniżka za okres współpracy</h3>
        <div class="value centered">
          {{discount}}
        </div>
        <h2 class="centered">Sugerowana cena</h2>
        <p class="centered"><b>{{detailPrice| currency : "PLN" }}</b></p>
      </div>
    </div>
  </div>
</div>
<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
<script src="main.js"></script>
</body>
</html>