<!doctype html>
<html lang="en" ng-app="FormApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style/stylesheets/screen.css">
</head>
<body>
<div class="container" ng-controller="FormAppController">
  <div class="row">
    <div class="col-md-9">
      <p>Zapraszam Cię do skorzystania z autorskiego kalkulatora usług copywriterskich. Dzięki niemu poznasz
        orientacyjną wycenę swojego zlecenia.</p>

      <section class="service">
        <div
            class="col-md-4 col-xs-6 text-variable-item"
            ng-repeat="item in services"
            ng-click="setBase(item.price)">
          <div class="sprite {{item.class}}"></div>
          <p>{{item.name}}</p>
        </div>
      </section>

      <section class="parameteres">
        <div class="row">
          <div class="col-md-12">
            <h2>Określ parametry zlecenia</h2>
            <p>Lorem ipsum dolor constectetur sit amet</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-center">
            <p>Ilość znaków w jednym tekście</p>
            <input type="number" placeholder="1000" min="1000" step="500">
          </div>
          <div class="col-md-4 text-center">
            <p>
              Określ skomplikowanie tematyki
            </p>
            <select ng-model="selectedHardness" ng-options="x for x in hardness"></select>
          </div>
          <div class="col-md-4 text-center">
            <p>
              Dostarczenie materiałów bazowych
            </p>
            <select ng-model="selectedMaterials" ng-options="x for x in materials"></select>
          </div>
          <div class="spacer"></div>
          <div class="col-md-4 text-center">
            <p>Czas realizacji</p>
            <select ng-model="selectedTime" ng-options="x for x in time"></select>
          </div>
          <div class="col-md-4 text-center">
            <p>Określ branżę</p>
            <!--<select ng-model="selectedTrade" ng-options="x for x in trade"></select>-->
            <select
                ng-model="selectedTrade"
                ng-options="item.name for item in trades">
            </select>
          </div>
          <div class="col-md-4 text-center">
            <p>
              Wybierz język
            </p>
            <select
                ng-model="selectedLanguage"
                ng-options="x for x in language">
            </select>
          </div>
        </div>
      </section>

      <section class="how-long">
        <div class="row">
          <div class="col-md-12">
            <h2>Okres współpracy</h2>
            <p>Decydując się na aktywną współpracę długotrwałą, możesz liczyć na atrakcyjne zniżki cenowe. Sprawdź, jak
              prezentują się orientacyjne ceny przy współpracy długotrwałej.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="period" ng-click="setPeriod(1)">Jednorazowy</div>
          </div>
          <div class="col-md-4">
            <div class="period" ng-click="setPeriod(2)">
              Miesięczny
            </div>
          </div>
          <div class="col-md-4">
            <div class="period" ng-click="setPeriod(3)">
              Roczny
            </div>
          </div>
        </div>
      </section>

      <section class="others">
        <div class="row">
          <div class="col-md-12">
            <h2>Załączniki i uwagi</h2>
          </div>
          <div class="col-md-12">
            <p>Wybierz usługę, której mam się podjąć. Pamiętaj, że kalkulator uwzględnia standardowe stawki za
              poszczególne
              zlecenia. Każdy tekst jest formatowany wedle najlepszych praktyk SEO i SEM. Usługa zawiera w sobie 3
              ewentualne poprawki.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">Imię i nazwisko</div>
          <div class="col-md-4">email</div>
          <div class="col-md-4">telefon</div>
        </div>
        <textarea name="tresc" id="" cols="30" rows="10" ng-model="textInfo"></textarea>
      </section>
    </div><!-- col-md-9 -->
    <div class="col-md-3" style="position: fixed; right: 0;">
      <h2>Podsumowanie</h2>
      <h3>Rodzaj tekstu</h3>
      Artykuł poradnikowy
      <h3>Parametry szczegółowe</h3>
      <h4>Ilość znaków w jednym tekście</h4>
      {{letterCount}}
      <h4>Trudność tekstów</h4>
      {{selectedHardness}}
      <h4>Materiały</h4>
      {{selectedMaterials}}
      <h2>Cena</h2>
      <h3>Stawka bazowa za 1000 znaków</h3>
      {{base}} zł
      <h3>Zniżka za okres współpracy</h3>
      {{discount}}
      <h3>Branża</h3>
      {{selectedTrade.name}}
      <h3>Język</h3>
      {{selectedLanguage}}
      <h2>Sugerowana cena</h2>
      {{suggestedPrice}}
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
<script src="main.js"></script>
</body>
</html>