@import url("https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext");
/* line 5, ../sass/screen.scss */
body {
  font-family: "Lato", sans-serif;
  font-size: 13px;
}

/* line 10, ../sass/screen.scss */
h2 {
  font-size: 20px;
  font-weight: bold;
}

/* line 15, ../sass/screen.scss */
body {
  margin-top: 50px;
}

/* line 19, ../sass/screen.scss */
.sprite {
  background-image: url(../../images/backgrounds/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 28, ../sass/screen.scss */
.sprite-Image-10 {
  width: 90px;
  height: 88px;
  background-position: -2px -2px;
}

/* line 34, ../sass/screen.scss */
.sprite-Image-11 {
  width: 94px;
  height: 84px;
  background-position: -2px -94px;
}

/* line 40, ../sass/screen.scss */
.sprite-Image-12 {
  width: 90px;
  height: 87px;
  background-position: -2px -182px;
}

/* line 46, ../sass/screen.scss */
.sprite-Image-13 {
  width: 85px;
  height: 84px;
  background-position: -2px -273px;
}

/* line 52, ../sass/screen.scss */
.sprite-Image-14 {
  width: 84px;
  height: 88px;
  background-position: -2px -361px;
}

/* line 58, ../sass/screen.scss */
.sprite-Image-15 {
  width: 85px;
  height: 83px;
  background-position: -2px -453px;
}

/* line 64, ../sass/screen.scss */
.sprite-Image-16 {
  width: 80px;
  height: 83px;
  background-position: -2px -540px;
}

/* line 70, ../sass/screen.scss */
.sprite-Image-17 {
  width: 90px;
  height: 79px;
  background-position: -2px -627px;
}

/* line 76, ../sass/screen.scss */
.sprite-Image-18 {
  width: 106px;
  height: 89px;
  background-position: -2px -710px;
}

/* line 82, ../sass/screen.scss */
.sprite-Image-19 {
  width: 73px;
  height: 81px;
  background-position: -2px -803px;
}

/* line 88, ../sass/screen.scss */
.sprite-Image-8 {
  width: 106px;
  height: 89px;
  background-position: -2px -888px;
}

/* line 94, ../sass/screen.scss */
.sprite-Image-9 {
  width: 84px;
  height: 81px;
  background-position: -2px -981px;
}

/* line 100, ../sass/screen.scss */
.text-variable-item {
  cursor: pointer;
  text-align: center;
  min-height: 130px;
  border: 1px solid transparent;
}
/* line 105, ../sass/screen.scss */
.text-variable-item:hover {
  border: 1px solid orange;
}
/* line 108, ../sass/screen.scss */
.text-variable-item:active {
  border: 1px solid red;
}

@media (max-width: 768px) {
  /* line 114, ../sass/screen.scss */
  .parameters input, .parameters select, .personal-data input, .personal-data select {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* line 122, ../sass/screen.scss */
.period {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
  margin-top: 15px;
}

/* line 132, ../sass/screen.scss */
.period-1 {
  border: 2px solid lightgrey;
  color: lightgrey;
  background-color: white;
}
/* line 137, ../sass/screen.scss */
.period-1:hover {
  background-color: transparent;
}

/* line 142, ../sass/screen.scss */
.period-2 {
  cursor: pointer;
  border: 2px solid #1B3F93;
  background-color: white;
  color: black;
}

/* line 149, ../sass/screen.scss */
.period-3 {
  cursor: pointer;
  border: 2px solid #1B3F93;
  background-color: #1B3F93;
  color: white;
}

/* line 157, ../sass/screen.scss */
section {
  margin-top: 50px;
  overflow: hidden;
}

/* line 162, ../sass/screen.scss */
select {
  border: 1px solid orange;
  min-width: 150px;
  height: 40.166px;
}
@media (min-width: 992px) {
  /* line 162, ../sass/screen.scss */
  select {
    width: 100%;
  }
}

/* line 171, ../sass/screen.scss */
input {
  border: 1px solid orange;
  padding: 10px;
}
@media (min-width: 992px) {
  /* line 171, ../sass/screen.scss */
  input {
    width: 100%;
  }
}

@media (min-width: 992px) {
  /* line 181, ../sass/screen.scss */
  .text-variable-item:nth-child(3n + 1) {
    clear: left;
  }
}
@media (max-width: 450px) {
  /* line 187, ../sass/screen.scss */
  .text-variable-item:nth-child(2n + 1) {
    clear: left;
  }
}
/* line 192, ../sass/screen.scss */
.spacer {
  height: 15px;
  width: 100%;
  content: "";
  display: block;
  overflow: hidden;
}
@media (min-width: 992px) {
  /* line 192, ../sass/screen.scss */
  .spacer {
    height: 30px;
  }
}

/* line 203, ../sass/screen.scss */
.clear-filter {
  clear: both;
  max-width: 200px;
}

/* line 208, ../sass/screen.scss */
.clear-filter-wrap {
  clear: both;
  padding-left: 15px;
}

/* line 214, ../sass/screen.scss */
.personal-data textarea {
  border: 2px solid lightgrey;
  margin-top: 15px;
  width: 100%;
  background-color: #e5e5e5;
}
/* line 220, ../sass/screen.scss */
.personal-data input {
  border: 2px solid lightgrey;
  background-color: #e5e5e5;
}

@media (min-width: 992px) {
  /* line 228, ../sass/screen.scss */
  .sidebar {
    position: fixed;
    right: 0;
    top: 5px;
  }
}
/* line 234, ../sass/screen.scss */
h4, h5 {
  font-weight: bold;
}

/* line 237, ../sass/screen.scss */
.submit-section {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 242, ../sass/screen.scss */
.clear-parameters.clear-parameters {
  padding: 5px 10px;
  width: auto;
  margin-top: 10px;
}

/* line 248, ../sass/screen.scss */
.detailed-info,
.big-info {
  border: 1px solid black;
  padding: 15px;
  padding-top: 5px;
  font-size: 15px;
}

/* line 257, ../sass/screen.scss */
.btn-blue-reversed {
  border: 1px solid #1B3F93;
  color: #1B3F93 !important;
  background-color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 0.3s ease;
  width: 100%;
}
/* line 268, ../sass/screen.scss */
.btn-blue-reversed:hover {
  border: 1px solid #1B3F93;
  background-color: #1B3F93;
  color: white !important;
}

/* line 275, ../sass/screen.scss */
.btn-blue-standard {
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #1B3F93;
  background-color: #1B3F93;
  color: white !important;
  transition: 0.3s ease;
}
/* line 287, ../sass/screen.scss */
.btn-blue-standard:hover {
  border: 1px solid #1B3F93;
  color: #1B3F93 !important;
  background-color: white;
}

/* line 294, ../sass/screen.scss */
.btn-orange-reversed {
  border: 1px solid orange;
  color: orange !important;
  background-color: white;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 0.3s ease;
}
/* line 305, ../sass/screen.scss */
.btn-orange-reversed:hover {
  border: 1px solid orange;
  background-color: orange;
  color: white !important;
}

/* line 312, ../sass/screen.scss */
.header-info {
  position: relative;
}

/* line 316, ../sass/screen.scss */
.header-info-after {
  height: 2px;
  background-color: orange;
  width: 65%;
  vertical-align: middle;
  float: right;
  margin-top: 11px;
}
@media (max-width: 772px) {
  /* line 316, ../sass/screen.scss */
  .header-info-after {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media (max-width: 992px) {
  /* line 330, ../sass/screen.scss */
  .submit-section .col-md-4 {
    margin-bottom: 10px;
  }
}

/* line 336, ../sass/screen.scss */
.sidebar {
  padding-bottom: 20px;
}
/* line 339, ../sass/screen.scss */
.sidebar .value {
  color: #1B3F93;
  min-height: 15px;
}

/* line 345, ../sass/screen.scss */
.centered {
  text-align: center;
}

/* line 349, ../sass/screen.scss */
.panel .pad {
  padding: 0 15px;
}

/* line 353, ../sass/screen.scss */
.panel.flip .action {
  display: none;
}

/* line 357, ../sass/screen.scss */
.panel {
  width: 100%;
  height: 200px;
  margin-top: 14px;
  position: relative;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
}

/* line 370, ../sass/screen.scss */
.panel .front,
.panel .back {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* line 378, ../sass/screen.scss */
.panel .front {
  z-index: 900;
  width: inherit;
  height: inherit;
  border: 2px solid #1B3F93;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* line 398, ../sass/screen.scss */
.panel.flip .front {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

/* line 405, ../sass/screen.scss */
.panel .back {
  position: absolute;
  border: 2px solid orange;
  top: 0;
  left: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* line 429, ../sass/screen.scss */
.panel.flip .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
}

@media (max-width: 991px) {
  /* line 435, ../sass/screen.scss */
  .parameters .col-md-4 {
    margin-bottom: 15px;
  }
}
/* line 439, ../sass/screen.scss */
.parameters .col-md-4 p {
  display: inline-block;
  line-height: 1;
  margin-top: 4px;
}
@media (min-width: 992px) {
  /* line 439, ../sass/screen.scss */
  .parameters .col-md-4 p {
    min-height: 27px;
  }
}

/* line 450, ../sass/screen.scss */
.text-variable-item.non-selected {
  -webkit-filter: opacity(0.2);
  filter: opacity(0.2);
  transition: 0.3s ease;
}

/* line 456, ../sass/screen.scss */
.active {
  -webkit-filter: none !important;
  filter: none !important;
}

/* line 461, ../sass/screen.scss */
.nonvisible {
  visibility: hidden;
}

/* line 465, ../sass/screen.scss */
.reset {
  height: 40.4px;
  background-color: orangered;
  border: orangered;
}
/* line 469, ../sass/screen.scss */
.reset:hover {
  border: 1px solid orangered;
}

/* line 474, ../sass/screen.scss */
textarea {
  resize: none;
  padding: 5px;
}
